.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	.profit {
		font-weight: 700;
		color: green;
	}

	.loss {
		font-weight: 700;
		color: red;
	}

	.highlight {
		font-weight: 700;
		color: black;
	}
}

.actionGroup {
	margin: 12px;
	padding: 24px;
	height: fit-content;
	background-color: rgba(47, 52, 74, 0.078);
	border: solid #000;
	border-width: 2px;
	border-radius: 12px;
	align-items: left;

	.descriptionGroup {
		margin: 12px 0px;
		display: flex;
		flex-direction: column;
		text-align: left;
	}

	.progress {
		margin-top: 16px;
		width: 95%;
	}

	.rush {
		color: red;
	}
}
