.wallet {
	justify-content: flex-start;
	align-items: flex-start;
	gap: var(--space-16);
	text-transform: capitalize !important;
	// fix sizing issues by other elements inside the container
	width: 240px;

	.walletLogo {
		width: 34px;
	}
}

.hidden_anchor {
	display: none;
}

.active_badge {
	border-radius: 50%;
	margin-left: var(--space-8);
	height: 8px;
	width: 8px;
	transform: scale(1);
	background: #00f299;
	box-shadow: 0 0 0 0 #00f299;
	animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
	}
}
