.container {
	.highlight {
		font-weight: 700;
		background: linear-gradient(180deg, #262629 0%, #2f3bdd 52.92%, #bda6f3 100%);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.profit {
		font-weight: 700;
		color: rgb(40, 199, 40);
	}

	.loss {
		font-weight: 700;
		color: rgb(223, 76, 76);
	}

	.button {
		border-radius: 16px;
	}

	.buy {
		background-color: rgba(1, 134, 16, 0.838);

		&:hover {
			background-color: rgba(0, 201, 23, 0.79);
		}
	}
}

.alert {
	background-color: rgba(235, 223, 60, 0.288);
	margin-top: 12px;
	padding: 0px 12px;
}

.actionGroup {
	margin: 12px;
	padding: 24px;
	height: fit-content;
	align-items: left;
}

.caption {
	font-size: 12px;
	font-weight: bold;
}

.title {
	padding-left: 24px;

	h1 {
		margin: 0;
		line-height: 60px;
	}
}

.glow {
	margin: 20px;
	padding: 20px;
	-webkit-box-shadow: 0 0 20px rgb(0, 64, 255);
	-moz-box-shadow: 0 0 20px rgb(55, 0, 255);
	box-shadow: 0 0 30px rgb(0, 72, 255);
}

@media screen and (max-width: 600px) {
	.desktop_only {
		display: none;
	}
}
