.cards {
	display: flex;
	p {
		font-weight: 600;
	}

	.box {
		max-width: 620px;
		width: 310px;
		background-color: var(--color-white);
		border-radius: var(--border-radius-extend);
		padding: 30px;

		.titleContainer {
			display: flex;
			justify-content: center;
			text-align: center;
			margin: 8px 0px;

			.title {
				font-size: var(--font-h3);
				font-weight: 700;
			}
		}

		.content {
			p {
				font-weight: 600;
			}

			.column {
				display: flex;
				justify-content: space-between;
			}
		}
	}

	.iconGroup {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.rotating {
			-webkit-animation: spin 1s linear infinite;
			-moz-animation: spin 1s linear infinite;
			animation: spin 1s linear infinite;
		}
	}

	.simulator {
		border-top-right-radius: var(--space-10);
		border-bottom-right-radius: var(--space-10);
	}

	.changeEdge {
		border-top-right-radius: 0;
	}

	.grid {
		margin-top: 8px;
		display: flex;
		align-items: center;

		.title {
		}

		.value {
			display: flex;
			text-align: center;
			justify-content: center;
		}
	}
}

.buttons {
	display: flex;
	margin-top: 20px;
}

@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(-360deg);
	}
}
@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(-360deg);
	}
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}
