.button {
	background-color: var(--color-primary);
	height: 50px;
	border-radius: 12px;
}

.flex_center {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 20px;
}

.fit {
	margin-top: 2px;
	margin-left: 2px;
}

.disabled {
	font-size: 12px;
	opacity: 0.6;
}
