.chip {
	text-align: center !important;
	margin: 1px 2px !important;
	background-color: var(--color-black-200) !important;
	padding: 1px 2px !important;
	border-radius: 4px !important;
	display: flex !important;
	align-items: center !important;
	font-weight: 600 !important;
	text-transform: uppercase !important;
	font-size: 11px !important;
}

.dark {
	color: var(--color-black-800) !important;
	background-color: var(--color-black-300) !important;
}

.info {
	color: var(--color-info) !important;
	background-color: var(--color-info-light) !important;
}

.success {
	color: var(--color-success) !important;
	background-color: var(--color-success-light) !important;
}

.warning {
	color: var(--color-warning) !important;
	background-color: var(--color-warning-light) !important;
}

.error {
	color: var(--color-error) !important;
	background-color: var(--color-error-light) !important;
}
