@import 'styles/variables.scss';

.searchbar {
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
}

.cards {
	display: flex;

	.box {
		max-width: 620px;
		width: 310px;
		background-color: var(--color-white);
		border-radius: 10px;
		padding: 20px;

		.toggle {
			float: right;
			margin-bottom: 8px;
			color: var(--color-text-disabled);
		}
		.toggle:hover {
			cursor: pointer;
			color: var(--color-primary);
		}

		.content {
			p {
				font-weight: 600;
			}
			.column {
				display: flex;
				justify-content: space-between;
			}
		}
	}

	/* Simulator animation */
	.changeEdge {
		border-top-right-radius: 0;
	}

	.simulator {
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		// todo review
		z-index: -1;
	}

	.hide {
		transition: transform 0.4s cubic-bezier(0, 0.52, 0, 1);
		transform: translate3d(-20vw, 0, 0);
	}

	.show {
		transition: transform 0.4s cubic-bezier(0, 0.52, 0, 1);
		transform: translate3d(0vw, 0, 0);
	}
	/* ------------------ */
}

.title {
	text-align: center;
	margin-bottom: 30px;

	.symbol {
		background: linear-gradient(94.77deg, #ff659c 6.23%, #3fa1ff 95.59%);
		@include gradient-letters;
	}

	.pubkey {
		cursor: pointer;
	}
}

.funded {
	display: flex;
	justify-content: center;

	:first-child {
		margin-right: 10px;
	}

	svg {
		margin-top: -4px;
	}
}

.buttons {
	display: flex;
	margin-top: 20px;
}

.disabled {
	color: var(--color-text-disabled);
}

.expirations {
	display: flex;
	justify-content: space-between;
	color: var(--color-text-disabled);
}
