.cards {
	display: flex;

	.share {
		float: right;
		margin-bottom: var(--space-8);
		color: var(--color-text-disabled);
		font-size: 14px;
		display: inline-flex;

		svg {
			margin-bottom: -4px;
			margin-left: var(--space-4);
		}
	}

	.share:hover {
		cursor: pointer;
		color: var(--color-primary);
	}
}
