.container {
	.title {
		display: flex;
		align-items: center;
		margin-bottom: var(--space-12);

		svg {
			margin-right: var(--space-16);
			margin-top: 1px;
		}
	}

	h5 {
		font-weight: 600;
	}

	button {
		margin-top: var(--space-16);
		color: var(--color-black-900);
		border-color: var(--color-black-800);
	}
}
