.container {
	.title {
		display: flex;
		align-items: center;
		margin-bottom: var(--space-12);

		svg {
			margin-right: var(--space-16);
			margin-top: 1px;
		}
	}

	button {
		margin-top: var(--space-16);
	}
}
