.wrapper {
	background-color: var(--color-white);
	padding: var(--space-10) var(--space-12);
	border-radius: var(--space-10);
	color: var(--color-text-disabled);
}

.wrapper:hover {
	background-color: var(--color-black-100);
	color: var(--color-black);
	cursor: pointer;
}
