.bg_wrapper {
	overflow: hidden;
}

.text_wrapper {
	text-align: center;
	z-index: 1;
	position: relative;
}

.subtext {
	padding-top: 10vh;

	p,
	a {
		font-size: 1.9rem;
		line-height: 2rem;
		color: var(--color-secondary);
	}
}

.title {
	padding-top: 20vh;

	h2 {
		letter-spacing: 10px;
	}

	p {
		margin: 0;
		font-size: 2rem;
		line-height: 3rem;
	}
}

.searchbar {
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
}
