.text_wrapper {
	text-align: center;
}

.subtext {
	padding-top: 10vh;

	p,
	a {
		font-size: 1.9rem;
		line-height: 2rem;
	}
}

.title {
	padding: 15vh 0;

	h2 {
		letter-spacing: var(--space-10);
	}

	p {
		margin: 0;
		font-size: 2rem;
		line-height: 3rem;
	}
}
