.button {
	width: 100% !important;
	height: var(--space-40) !important;
	font-size: var(--font-p) !important;
	font-weight: 600 !important;
	border-radius: 0 !important;
}

.success {
	background-color: var(--color-success) !important;
	border-color: var(--color-success) !important;
}
.error {
	background-color: var(--color-error) !important;
	border-color: var(--color-error) !important;
}
.info {
	background-color: var(--color-primary) !important;
	border-color: var(--color-primary) !important;
}

.disabled {
	background-color: var(--color-black-400) !important;
	border-color: var(--color-black-400) !important;
	color: var(--color-black-500) !important;
}
