.glow {
	background: linear-gradient(100deg, #f50606 0%, #0011ff 52.92%, #a490d3 100%);
	color: #fff;
	opacity: 0.8;
	box-shadow: 1px 1px 1px 1px #e0e0e0;
	border-radius: 4px;
	padding: 10px;
	margin: 2px;
}
