.dialog {
	border-radius: 1px;

	.title {
		padding: var(--space-16);
		font-size: var(--font-p);
		text-transform: uppercase;
		font-weight: 650;
		font-size: large;
		color: var(--color-black-300);
		background-color: var(--color-primary);
	}

	.content {
		color: var(--color-black);
		font-size: var(--font-p-medium);
		padding: 10px 24px;
	}

	.actions {
		padding: 16px;
		display: flex;
		justify-content: flex-end;

		* {
			margin: {
				left: 2px;
				right: 2px;
			}
		}
	}
}
