.hover:hover {
	cursor: pointer;
}

.topbar {
	display: flex;
	justify-content: center;
	padding: 15px 25px;
	z-index: 99;
	position: relative;

	.navLeftItems {
		position: absolute;
		left: 50px;
		top: var(--space-20);
	}

	.navRightItems {
		position: absolute;
		right: 50px;
	}

	.nav {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin-top: var(--space-10);

		.item {
			margin-left: 25px;
			margin-right: 25px;

			a {
				font-family: var(--font-primary) !important;
				font-size: 15px;
				color: var(--color-text-disabled);
				font-weight: 500;
				height: 100%;
				display: block;
			}

			svg {
				margin-bottom: -2px;
				margin-right: 5px;
			}
		}

		.item.mobileonly {
			display: none;
		}

		.item:hover {
			cursor: pointer;
			span {
				color: var(--color-black);
			}
		}

		.active {
			a {
				color: var(--color-black);
			}
		}

		.disabled {
			span {
				color: var(--color-text-disabled);
			}
		}
	}
}

.cluster {
	margin-right: var(--space-20);
}

div[evergreen-portal-container] {
	div {
		.popover {
			min-width: 100px;

			.container {
				padding: var(--space-20) var(--space-32) var(--space-20) var(--space-24);
				margin-bottom: -10px;
				min-width: 100px;

				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;

				.item {
					margin-bottom: var(--space-16);
					width: 100%;
					display: flex;
					align-items: center;

					&.hidden {
						display: none;
					}

					svg {
						margin-bottom: -1px;
						margin-right: 12px;
						width: var(--space-16);
						height: var(--space-16);
						fill: var(--color-text-disabled);
					}

					span,
					a {
						font-family: var(--font-primary) !important;
						font-size: 15px;
						color: var(--color-text-disabled);
						font-weight: 500;
					}
				}

				.item:hover {
					cursor: pointer;

					svg {
						fill: var(--color-black);
					}

					span {
						color: var(--color-black);
					}
				}

				&.mobileNav {
					.item {
						margin-left: 0;
						margin-right: 0;
						margin-bottom: var(--space-16);
					}

					.item:hover {
						cursor: pointer;
					}

					.active,
					.item:hover {
						a {
							color: var(--color-black);
						}

						svg {
							fill: var(--color-black);
						}
					}
				}
			}
		}
	}
}

.hidden {
	display: none;
}

@media (max-width: 725px) {
	.topbar {
		.navRightItems {
			display: none;
		}

		.nav {
			width: 100%;
			justify-content: flex-end;
			margin-top: var(--space-6);

			.item {
				display: none;
				margin-left: 0;
			}

			.item.mobileonly {
				display: block;
			}
		}
	}
}
