.searchbar {
	display: flex;
	justify-content: center;
}

.hover:hover {
	cursor: pointer;
}

.topbar {
	display: flex;
	justify-content: space-between;
	padding: 15px 25px;

	.nav {
		display: flex;
		justify-content: center;
		margin-top: 10px;

		.item {
			margin-left: 50px;

			span {
				font-family: var(--font-primary) !important;
				font-size: 15px;
				color: var(--color-text-disabled);
				font-weight: 500;
			}

			svg {
				margin-bottom: -2px;
				margin-right: 5px;
			}
		}

		.item:hover {
			cursor: pointer;
			span {
				color: var(--color-black);
			}
		}

		.active {
			span {
				color: var(--color-black);
			}
		}

		.disabled {
			span {
				color: var(--color-text-disabled);
			}
		}
	}
}

.cluster {
	margin-right: 20px;
}
