.hover:hover {
	cursor: pointer;
}

.topbar {
	display: flex;
	justify-content: center;
	padding: 15px 25px;
	z-index: 99;
	position: relative;

	.navLeftItems {
		position: absolute;
		left: 50px;
		top: var(--space-20);
	}

	.navRightItems {
		position: absolute;
		right: 50px;
	}

	.nav {
		display: flex;
		justify-content: space-evenly;
		margin-top: var(--space-10);

		.item {
			margin-left: 25px;
			margin-right: 25px;

			a {
				font-family: var(--font-primary) !important;
				font-size: 15px;
				color: var(--color-text-disabled);
				font-weight: 500;
				height: 100%;
				display: block;
			}

			svg {
				margin-bottom: -2px;
				margin-right: 5px;
			}
		}

		.item:hover {
			cursor: pointer;
			span {
				color: var(--color-black);
			}
		}

		.active {
			a {
				color: var(--color-black);
			}
		}

		.disabled {
			span {
				color: var(--color-text-disabled);
			}
		}
	}
}

.cluster {
	margin-right: var(--space-20);
}

div[evergreen-portal-container] {
	div {
		.popover {
			min-width: 100px;

			.container {
				padding: var(--space-20) var(--space-32) var(--space-20) var(--space-24);
				min-width: 100px;

				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;

				.item {
					margin-bottom: var(--space-16);
					width: 100%;
					display: flex;
					align-items: center;

					svg {
						margin-bottom: -1px;
						margin-right: 12px;
						width: var(--space-16);
						height: var(--space-16);
						fill: var(--color-text-disabled);
					}

					span {
						font-family: var(--font-primary) !important;
						font-size: 15px;
						color: var(--color-text-disabled);
						font-weight: 500;
					}

					&:last-child {
						margin-bottom: 0px;
					}
				}

				.item:hover {
					cursor: pointer;

					svg {
						fill: var(--color-black);
					}

					span {
						color: var(--color-black);
					}
				}
			}
		}
	}
}

.hidden {
	display: none;
}
