.wrapper {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	margin-left: 20px;
	position: relative;
	z-index: 1;
}

.error {
	color: var(--color-error) !important;
	font-style: italic;
	margin-top: 2px;

	svg {
		margin-bottom: -2px;
		margin-right: 4px;
	}
}

.error_border {
	input {
		border: 1px solid var(--color-error) !important;
	}
}

.hidden {
	display: none;
}
.visible {
	display: block;
}

.input_outter {
	display: flex;

	.adorsement {
		margin-right: -30px;
		margin-top: 15px;
		z-index: 1;
		color: var(--color-black-600);
	}

	input {
		width: 455px;
		height: 49px;
		padding: 12px 16px;
		padding-left: 40px;
		outline: none;
		border: 1px solid var(--color-black-300);
		border-radius: 10px;
		box-shadow: 5px 5px 20px var(--color-black-400);
		font-size: 16px;
		color: var(--color-black);

		&::placeholder {
			color: var(--color-black-600);
		}
	}
}
